
:root {
  --color-primary: 45 63 80;
  --color-white: 255 255 255;
  --color-stroke: 229 229 229;
  --color-blacktext: 21 18 15;
  --color-greytext: 128 128 128;
  --color-stroke2: 243 243 243;
  --color-blue: 0 127 196;
  --color-buttonprimary: 152 162 179;
  --color-green: 0 101 87;
}
*{
  font-family: --font-poppins;
}